<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kw.top">

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Required -->
    <permission
        android:name="com.kw.top.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.kw.top.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 如果需要实时音视频通话模块，下面的权限也是必须的。否则，可以不加 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <permission
        android:name="com.kw.top.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />

    <!-- 接受SDK消息广播权限， 第三方APP接入时，请将com.netease.nim.demo替换为自己的包名 -->
    <uses-permission android:name="com.kw.top.permission.RECEIVE_MSG" />

    <!-- &lt;!&ndash; 小米推送 &ndash;&gt;
     <permission
         android:name="com.kw.top.permission.MIPUSH_RECEIVE"
         android:protectionLevel="signature" />
     <uses-permission android:name="com.kw.top.permission.MIPUSH_RECEIVE" />

     &lt;!&ndash;华为推送&ndash;&gt;
     <uses-sdk tools:overrideLibrary="com.huawei.android.hms.base,com.huawei.android.hms.push" />
     &lt;!&ndash;魅族推送&ndash;&gt;

     &lt;!&ndash; 兼容flyme5.0以下版本，魅族内部集成pushSDK必填，不然无法收到消息&ndash;&gt;
     <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />
     <permission
         android:name="com.kw.top.push.permission.MESSAGE"
         android:protectionLevel="signature" />
     <uses-permission android:name="com.kw.top.push.permission.MESSAGE" />
     &lt;!&ndash;  兼容flyme3.0配置权限&ndash;&gt;
     <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />
     <permission
         android:name="com.kw.top.permission.C2D_MESSAGE"
         android:protectionLevel="signature" />
     <uses-permission android:name="com.kw.top.permission.C2D_MESSAGE" />-->


    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />


        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.person_info.EditInfoActivity" />
        <activity
            android:name=".ui.activity.CommPickerViewActivity"
            android:theme="@style/Trantheme" />


        <activity
            android:name=".ui.activity.NewMainActivity"
            android:launchMode="singleTop"
            android:hardwareAccelerated="true"/>


        <activity android:name=".ui.activity.login.BaseInfoActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.login.ForgetPwdActivity" />
        <activity android:name=".ui.activity.login.HeartBeatGril1" />
        <activity
            android:name=".ui.activity.login.SexActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppSplash" />
        <activity android:name=".ui.activity.user_center.InviteRecordActivity" />
        <activity android:name=".ui.activity.user_center.InviteFriendActivity" />
        <activity android:name=".ui.activity.user_center.MyGiftActivity" />
        <activity android:name=".ui.activity.user_center.MyAccountActivity" />
        <activity android:name=".ui.activity.user_center.RedPacketDetailsActivity" />
        <activity android:name=".ui.activity.club.CreateClubActivity" />
        <activity android:name=".ui.activity.circle.SendCircleActivity" />
        <activity android:name=".ui.activity.login.UpPictureActivity" />
        <activity android:name=".ui.activity.login.ManVipActivity" />
        <activity android:name=".ui.activity.login.WomanVipActivity" />
        <activity android:name=".ui.activity.user_center.ReceiveAndSendActivity" />
        <activity android:name=".ui.activity.user_center.DrawMoneyActivity" />
        <activity android:name=".ui.activity.login.BindAlipayActivity" />
        <activity android:name=".ui.activity.login.HeartBeatGril2" />
        <activity android:name=".ui.activity.circle.MyNewsActivity" />
        <activity android:name=".ui.activity.circle.UserCircleActivity" />
        <activity
            android:name=".ui.activity.circle.WorldCircleDetailsActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.activity.find.FindDetailsActivity" />
        <activity android:name=".ui.activity.news.FriendApplyActivity" />
        <activity
            android:name=".ui.activity.login.TestStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.task.PublishTaskActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".ui.activity.task.TaskDetailsActivity" />
        <activity android:name=".ui.activity.login.LoginActivity" />
        <activity
            android:name=".ui.activity.VideoPlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.login.VideoVerifyActivity" />
        <activity android:name=".ui.activity.classroom.ClassroomDetailsActivity" />
        <activity android:name=".ui.activity.active.ActiveDetailsActivity" />
        <activity android:name=".ui.activity.club.VipManagerActivity" />
        <activity android:name=".ui.activity.club.VipApplyActivity" />
        <activity android:name=".ui.activity.club.ClubChatActivity" />
        <activity android:name=".ui.activity.user_center.NoticeCenterActivity" />
        <activity
            android:name=".ui.activity.AppVideoPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImageDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.news.SendRedbagActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.active.UserActiveDetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.task.ClubTaskListActivity" />
        <activity android:name=".ui.activity.task.ClubTaskDetailsActivity" />
        <activity android:name=".ui.activity.club.ClubNoticeActivity" />


        <activity
            android:name=".ui.activity.club.ClubDetailsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".ui.activity.PictureActivity" />
        <activity
            android:name=".ui.activity.VideoViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AlipayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Trantheme" />
        <activity android:name=".ui.activity.news.ChatActivity" />

        <activity
            android:name=".ui.activity.news.ImageGridActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <!-- 开机自启动服务 -->
        <receiver android:name=".receiver.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--友盟分享-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b3256f4b27b0a295c00001b" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <!--支付宝-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">

        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">

        </activity>
        <activity android:name=".base.MyEaseBaseActivity" />

        <service android:name="com.amap.api.location.APSService">

        </service>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="1d46ac181f14bbd7f953572224d0901e" />


        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle">

        </activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.kw.top" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.user_center.SettingActivity" />
        <activity android:name=".ui.activity.club.ClubActivity" />
        <activity android:name=".ui.activity.active.MarvellousActivity" />
        <activity android:name=".ui.activity.task.TopTaskActivity" />
        <activity android:name=".ui.activity.active.TopListActivity" />
        <activity android:name=".ui.RecommendActivity" />
        <activity android:name=".ui.activity.login.NewLoginActivity" />
        <activity android:name=".ui.activity.login.ChoiceSexActivity" />
        <activity android:name=".ui.activity.MaleActivity" />
        <activity android:name=".ui.fragment.find.HomePageDetailsActivity" />


        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.kw.top.DataProvider"
            android:exported="false" />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.kw.top" />
            </intent-filter>

        </service>
        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.kw.top.DownloadProvider"
            android:exported="true" />
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.kw.top" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.kw.top" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调-->
        <receiver android:name=".receiver.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.kw.top"></category>
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="78c2d35a64e35a70e2b503f7" /> <!--  </>值来自开发者平台取得的AppKey-->


        <!-- 全面屏配置 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <!--网易云相关-->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="7ef33ad2c3ba428c15ab9ce9c13e1f0b" />
        <meta-data
            android:name="JRMF_PARTNER_NAME"
            android:value="云信红包" />

        <!-- 云信后台服务，请使用独立进程。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />

        <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />

        <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core" />

        <!-- 云信监视系统启动和网络变化的广播接收器，保持和 NimService 同一进程 -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />

        <!-- 云信进程间通信service -->
        <service android:name="com.netease.nimlib.service.ResponseService" />

        <!-- 云信进程间通信provider -->
        <!-- android:authorities="{包名}.ipc.provider", 请将com.netease.nim.demo替换为自己的包名 -->
        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:authorities="com.kw.top.ipc.provider"
            android:exported="false"
            android:process=":core" />
    </application>
</manifest>